
.timer{
  position: absolute;
  right: 25px;
  bottom: 20px;
}

.timer_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  //position: absolute;
  //top: 10px;
  //left: 13px;
}

.time{
  font-size: 14px;
  color: #fff;
}

svg{
  position: absolute;
  //display: inline-block;
  //vertical-align: middle;
}
circle{
  stroke-width: 5px;
  fill: transparent;
  stroke-linecap: round;
}

#circle1{
  stroke: rgba(0,0,0, .4);
}

#circle2{
  stroke:#bbe1fa;
  transition: 1s linear;
}
