
.timer{
  position: absolute;
  right: -6%;
  bottom: -2%;
  transform: translate(-50%, -50%)
}


.time {
  position: absolute;
  left: 40%;
  top: 45%;
  transform: translate(-50%, -50%)
}

.time{
  font-size: 14px;
  color: #fff;
}

svg{
  display: inline-block;
  vertical-align: middle;
}
circle{
  stroke-width: 5px;
  fill: transparent;
  stroke-linecap: round;
}

#circle1{
  stroke: rgba(0,0,0, .4);
}

#circle2{
  stroke:#bbe1fa;
  transition: 1s linear;
}
