<div class="wrapper">
  <div class="wrapper_timer">
    <app-timer [time]="time"></app-timer>
  </div>
  <div class="wrapper_content">
    <div class="wrapper_content-comment">
    </div>
    <div class="wrapper_content-message">
      <div class="wrapper_content-message-body">
        Build Your Customized Ai Assistant in 5 min for your
        <app-animation-text [backward]="true"  [speed]="speed" [loop]="true" [content]="animationContent()"></app-animation-text>
      </div>
      <div class="wrapper_content-message-animation"></div>
    </div>
  </div>
</div>
