.wrapper {


  &_timer {

  }

  &_content {
    &-comment {
      .svg {
        //background: url("../assets/icons/comment.svg");
      }
    }
    &-message {
      &-body {
        color: #fff;
        font-weight: bold;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
        vertical-align: middle;
        font-size: 45px;
        line-height: 45px;
      }

      .animated_element {
        border-right: 4px solid #fff;
      }
    }
  }
}
