.wrapper {

  min-height: 800px;
  max-height: 800px;
  width: 350px;
  padding: 25px;
  overflow-y: hidden;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Baloo Bhaijaan 2", sans-serif;

  &_timer {
    justify-self: start;
    flex: 1;
    color: #fff;
  }

  &_content {
    flex: 2;
    &-comment {
      .svg {
        //background: url("../assets/icons/comment.svg");
      }
    }
    &-message {
      &-body {
        color: #fff;
        font-weight: bold;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
        vertical-align: middle;
        font-size: 45px;
        line-height: 45px;
      }

      .animated_element {
        border-right: 4px solid #fff;
      }
    }
  }
}
