.wrapper {


  &_timer {

  }

  &_content {
    &-comment {
      .svg {
        //background: url("../assets/icons/comment.svg");
      }
    }
    &-message {
      color: #fff;
      font-weight: bold;
      font-size: 45px;
      line-height: 45px;
      padding: 0 20px 0 20px;

      font-optical-sizing: auto;
      font-style: normal;

      .animated_element {
        border-right: 4px solid #fff;
      }
    }
  }
}
