.container {
  min-height: 800px;
  max-height: 800px;
  width: 350px;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px solid black;
  border-radius: 40px;
  background-color: #62526c;
  scrollbar-gutter: stable;

  font-family: "Baloo Bhaijaan 2", sans-serif;

}
